<div class="sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/wine" routerLinkActive="active">
        <i class="bi bi-wine me-2"></i>
        Wine
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inventory" routerLinkActive="active">
        <i class="bi bi-box-seam me-2"></i>
        Inventory
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/event" routerLinkActive="active">
        <i class="bi bi-calendar-event me-2"></i>
        Event
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/faq" routerLinkActive="active">
        <i class="bi bi-question-circle me-2"></i>
        FAQ
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/supplier" routerLinkActive="active">
        <i class="bi bi-truck me-2"></i>
        Supplier
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/report" routerLinkActive="active">
        <i class="bi bi-file-earmark-bar-graph me-2"></i>
        Report
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blacklist" routerLinkActive="active">
        <i class="bi bi-x-circle me-2"></i>
        Blacklist
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vat" routerLinkActive="active">
        <i class="bi bi-x-circle me-2"></i>
        VAT
      </a>
    </li>
  </ul>
</div>

  